.courseContent {
    margin-top: 80px;

    & .courseContentBg {
        background-color: #ffffff;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2.5rem;
        border-radius: 10px;
        padding: 6rem 0;

        & h2 {
            color: #2B2B2B;
            text-align: center;
            font-size: 2.125rem;
        }

        & svg, h2, h6, button {
            z-index: 100;
        }

        & .contentListAbsolute {
            
            & li {
                color: #2C2C2C;
                border: 1px solid rgba(231, 231, 231, 0.20);
                width: max-content;
                position: absolute;
                
                & div {
                    padding: 1.125rem;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 0.5rem;
                    position: relative;
                }
                
                &:nth-child(odd) {
                    border-radius: 12px 12px 12px 0px;
                    transform: rotate(1deg);
                    & div svg:last-child {
                        position: absolute;
                        bottom: -1.1rem;
                        left: -1.1rem;
                    }
                }
                
                &:nth-child(even) {
                    transform: rotate(-1deg);
                    border-radius: 12px 12px 0px 12px;
                    & div svg:last-child {
                        position: absolute;
                        bottom: -1.1rem;
                        right: -1.1rem;
                        transform: rotateY(180deg);
                    }
                }

                &:nth-child(1) {
                    top: 3.125rem;
                    left: 7.813rem;
                }
                &:nth-child(2) {
                    top: 12.5rem;
                    left: 3.438rem;
                }
                &:nth-child(3) {
                    top: 21.875rem;
                    left: 7.813rem;
                }
                &:nth-child(4) {
                    top: 3.125rem;
                    right: 6.875rem;
                }
                &:nth-child(5) {
                    top: 14.063rem;
                    right: 3.438rem;
                }
                &:nth-child(6) {
                    top: 22.5rem;
                    right: 5.313rem;
                }
            }
        }
    }
}


@media (max-width: 981px) {
    .courseContent .courseContentBg {
        & h2 {
            font-size: 1.75rem;
        }
    }
}

@media (max-width: 768px) {
    .courseContent .courseContentBg {
        & h2 {
            font-size: 1.5rem;
        }
        & .contentListAbsolute li {
            max-width: 30%;
        
            &:nth-child(1) {
                left: 4rem;
            }
            &:nth-child(2) {
                left: 1.5rem;
            }
            &:nth-child(3) {
                left: 4.5rem;
                top: 19.5rem;
            }
            &:nth-child(4) {
                right: 3rem;
            }
            &:nth-child(5) {
                right: 0.5rem;
                top: 11.5rem;
            }
            &:nth-child(6) {
                right: 2.5rem;
                top: 20.1rem;
            }
        }
    }
}

@media (max-width: 481px) {
    .courseContent .courseContentBg {
        & h2 {
            font-size: 1.25rem;
        }
    }
}