.courseContent {
    margin-top: 80px;

    & .courseContentBg {
        background-color: #ffffff;
        position: relative;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        border-radius: 10px;

        & h2 {
            color: #2B2B2B;
            text-align: center;
            font-size: 2.25rem;
        }

        & svg, h2, h6, button {
            z-index: 100;
        }

        & .contentListAbsolute {
            
            & li {
                color: #2C2C2C;
                border: 1px solid rgba(231, 231, 231, 0.20);
                width: max-content;
                position: absolute;
                
                & div {
                    padding: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 10px;
                    position: relative;
                }
                
                &:nth-child(odd) {
                    border-radius: 12px 12px 12px 0px;
                    transform: rotate(1deg);
                    & div svg:last-child {
                        position: absolute;
                        bottom: -18px;
                        left: -18px;
                    }
                }
                
                &:nth-child(even) {
                    transform: rotate(-1deg);
                    border-radius: 12px 12px 0px 12px;
                    & div svg:last-child {
                        position: absolute;
                        bottom: -18px;
                        right: -18px;
                        transform: rotateY(180deg);
                    }
                }

                &:nth-child(1) {
                    top: 10%;
                    left: 10%;
                }
                &:nth-child(2) {
                    top: 45%;
                    left: 5%;
                }
                &:nth-child(3) {
                    bottom: 10%;
                    left: 8%;
                }
                &:nth-child(4) {
                    top: 10%;
                    right: 10%;
                }
                &:nth-child(5) {
                    top: 45%;
                    right: 5%;
                }
                &:nth-child(6) {
                    bottom: 10%;
                    right: 8%;
                }
            }
        }
    }
}


@media (max-width: 1200px) {
    .courseContent .courseContentBg {
        & h2 {
            font-size: 1.5rem;
        }
    }
}
@media (max-width: 768px) {
    .courseContent .courseContentBg {
        & h2 {
            font-size: 1.25rem;
        }
    }
}
@media (max-width: 600px) {
    .courseContent .courseContentBg {
        justify-content: flex-start;
        padding-top: 15%;
        & h2 {
            font-size: 1.3rem;
            letter-spacing: normal;
        }
        & .contentListAbsolute li {
            max-width: 40%;  
            &:nth-child(1) {
                top: 5%;
                left: 5%;
            }
            &:nth-child(2) {
                top: 40%;
                left: 2%;
            }
            &:nth-child(3) {
                bottom: 20%;
                left: 5%;
            }
            &:nth-child(4) {
                top: 7%;
                right: 5%;
            }
            &:nth-child(5) {
                top: 43%;
                right: 2%;
            }
            &:nth-child(6) {
                bottom: 15%;
                right: 3%;
            }
        }
    }
}

@media (max-width: 481px) {
    .courseContent .courseContentBg {
        padding-top: 25%;
        & h2 {
            font-size: 1rem;
        }
    }
}