.installment {
    margin-top: 88px;

    & .installmentOption {
        display: grid;
        grid-template-columns: 2fr 1fr;
        border-radius: 12px;
        overflow: hidden;
    }

    & .installmentOptionBg {
        background: #95ACD3;
        padding: 0 40px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        & h2 {
            color: #FFF;
            margin: 4px 0;
        }

        & p {
            color: #EFEFEF;
            margin-bottom: 24px;
        }
    }
}


@media (max-width: 768px) {
    .installment {
        & .installmentOption {
            display: flex;
            flex-direction: column;
            & .installmentOptionBg {
                padding: 5% 0;
                align-items: center;
                & h2, & p {
                    text-align: center;
                }
            }
        }
    }
}