.coursePreview {
    margin-top: 40px;

    & .coursePreviewBg {
        border-radius: 12px;
        border: 1px solid #E7E7E7;
        background: #FDFDFD;
        box-shadow: 0px 4px 10px 0px rgba(226, 226, 226, 0.25);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 60px;
        position: relative;

        & h2 {
            color: #2B2B2B;
            text-align: center;
            margin: 14px 0 50px 0;
        }

        & img {
            max-width: 60%;
        }

        & .textAbsolute {
            position: absolute;
            padding: 1.5% 5% 1.5% 1.5%;
            background-color: #95ACD3;
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            color: #ffffff;
            gap: 2%;
    
            & h3 {
                color: #ffffff;
                font-size: 60px;
                font-weight: 600;
                line-height: 120%;
                letter-spacing: -2.4px;
                margin: 0;
            }
        }
    
        & .left {
            bottom: 10%;
            left: 5%;
            transform: rotate(-2deg);
        }
        & .right {
            bottom: 30%;
            right: 5%;
            transform: rotate(3deg);
        }
        & .leftArrow {
            position: absolute;
            bottom: 45%;
            left: 12%;
        }
        & .rightArrow {
            position: absolute;
            bottom: 10%;
            right: 12%;
        }
    }
}


@media (max-width: 1200px) {
    .coursePreview {
        & .coursePreviewBg {
            & .textAbsolute {
                h3 {
                    font-size: 45px;
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .coursePreview {
        & .coursePreviewBg {
            & .textAbsolute {
                h3 {
                    font-size: 30px;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .coursePreview {
        & .coursePreviewBg {
            & .textAbsolute {
                h3 {
                    font-size: 24px;
                }
            }
            & .leftArrow {
                position: absolute;
                bottom: 35%;
                left: 12%;
                transform: scale(0.7);
            }
            & .rightArrow {
                transform: scale(0.7);
            }
        }
    }
}
@media (max-width: 481px) {
    .coursePreview {
        & .coursePreviewBg {
            & .textAbsolute {
                h3 {
                    font-size: 18px;
                }
            }
            & .left {
                bottom: 6%;
                left: 3%;
                transform: rotate(-3deg) scale(0.8);
            }
            & .right {
                bottom: 20%;
                right: 3%;
                transform: rotate(3deg) scale(0.8);
            }
            & .leftArrow {
                position: absolute;
                bottom: 25%;
                left: 7%;
                transform: scale(0.5);
            }
            & .rightArrow {
                position: absolute;
                bottom: 3%;
                right: 8%;
                transform: scale(0.5);
            }
        }
    }
}