.commentContainer {
    position: relative;

    & .content {
        padding: 10%;
        border-radius: 12px;
        border: 1px solid #E7E7E7;
        background:  #FDFDFD;
        box-shadow: 0px 4px 10px 0px rgba(226, 226, 226, 0.25);
        color: #959595;
    }

    & h3 {
        color: #3B74C1;
        margin-top: 0;
        margin-bottom: 5%;
    }
}
