.instructor {
    margin-top: 140px;

    & .instructorBg {
        border-radius: 12px;
        background: #FFF;
        box-shadow: 0px 4px 10px 0px rgba(226, 226, 226, 0.25);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 32px;

        & h2 {
            color: #2B2B2B;
            font-size: 34px;
            margin: 12px 0 40px 0;
        }
    }

    & .teacherContainer {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        justify-content: center;
        gap: 5%;

        & .teacherAchivement {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            gap: 5%;
    
            & li {
                width: 100%;
                height: auto;
                border-radius: 12px;
                border: 1px solid #F4F4F4;
                background: #ffffff;
                box-shadow: 0px 4px 10px 0px rgba(226, 226, 226, 0.25);
                padding: 15%;
                
                & h3 {
                    margin: 0;
                    font-size: 65px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 130%; /* 104px */
                    letter-spacing: -3.2px;
                    color: #A6C198;
                }
    
                & p {
                    color: #959595;
                    margin-top: 10px;
                }
    
                &:nth-child(2) {
                    transform: rotate(-4deg);
                }
            }
        }

        & .teacherInfo {
            border-radius: 12px;
            background: #A6C198;
            box-shadow: 0px 4px 10px 0px rgba(226, 226, 226, 0.25);
            padding: 88px 32px;
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 20px;
            color: #ffffff;

            & img {
                width: 100%;
                border-radius: 10px;
            }

            & .teacherInfoContent {

                & h4 {
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 32px;
                    letter-spacing: -0.72px;
                }
    
                & p {
                    
                    & span {
                        color: #47C627;
                    }
                }
            }
            
            & .position {
                margin-bottom: 20px;
            }
            & .description {
                margin-top: 14px;
            }
        }
    }
}



@media (max-width: 1200px) {
    .instructor {
        & .teacherContainer {
            & .teacherAchivement {
                grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
                gap: 3%;
                & li h3 {
                    font-size: 55px;
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .instructor {
        & .teacherContainer {
            & .teacherAchivement li h3 {
                font-size: 45px;
            }
            & .teacherInfo {
                grid-template-columns: 1fr;
                padding: 6%;
            }
        }
    }
}
@media (max-width: 768px) {
    .instructor {
        & .teacherContainer {
            & .teacherAchivement {
                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            }
        }
    }
}
@media (max-width: 481px) {
    .instructor {
        & .teacherContainer {
            & .teacherAchivement li h3 {
                font-size: 30px;
            }
        }
    }
}