.courseAdvantages {
    margin-top: 5rem;
    
    & h2 {
        color: #2B2B2B;
        margin: 0.875rem 0 2rem 0;
    }

    & .courseAdvantagesContainer {
        background: #FDFDFD;
        box-shadow: 0px 4px 10px 0px rgba(226, 226, 226, 0.25);
        border-radius: 12px;
        padding: 5%;
        display: flex;
        align-items: center;
        flex-direction: column;

        & .advantagesList {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2vw;
    
            & .advantageItem {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10%;

                & img {
                    width: 50%;
                    max-width: 60px;
                    height: auto;
                }
    
                & h3 {
                    text-align: center;
                }
    
                & p {
                    text-align: center;
                    color: #959595;
                }
            }
        }
    }
}


@media (max-width: 991px) {
    .courseAdvantages {
        & .courseAdvantagesContainer {
            & .advantagesList {
                & .advantageItem {
                    & h3 {
                        line-height: 1.5rem;
                    }
                }
            }
        }
    }
}
// @media (max-width: 768px) {
//     .courseAdvantages {
//         & .courseAdvantagesContainer {
//             & .advantagesList {
//                 & .advantageItem {
//                     & h3 {
//                         line-height: normal;
//                     }
//                 }
//             }
//         }
//     }
// }
@media (max-width: 481px) {
    .courseAdvantages {
        & .courseAdvantagesContainer {
            & .advantagesList {
                & .advantageItem {
                    & h3 {
                        line-height: normal;
                    }
                }
            }
        }
    }
}