.header {
    box-shadow: 0 1px 0 0 rgba(139, 141, 157, .05), 0 0 1px 0 rgba(65, 71, 108, .15);
    background-color: #f4f4f4;
    position: sticky;
    font-size: 0.875rem;
    z-index: 1000;
}

.headerContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}

.navigationMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    & li {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
        cursor: pointer;
    }

    & > li:hover, & a:hover {
        color: #0050EC !important;
    }
}

.actionBtns {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    & div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    & .separatop {
        display: inline-block;
        width: 1px;
        height: 20px;
        background-color: #333333;
        opacity: .2;
    }

    & .signUp {
        background-color: #385DFF;
        color: #ffffff;
        padding: 10px 20px;
        border-radius: 20px;
    }
}

.servisesSubmenu, .contactsSubmenu {
    position: absolute;
    width: max-content;
    top: 40px;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, .05), 0 6px 32px 0 rgba(18, 43, 70, .1);
    border-radius: 4px;
    padding: 20px;
    z-index: 100;

    &::before {
        content: '';
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 15px solid #ffffff;
        position: absolute;
        top: -10px;
    }

    & ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}

.servisesSubmenuCourses {
    position: absolute;
    width: 200px;
    top: 0;
    left:-260px;
    background-color: #ffffff;
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, .05), 0 6px 32px 0 rgba(18, 43, 70, .1);
    border-radius: 4px;
    padding: 20px;
}