.header {
    box-shadow: 0 1px 0 0 rgba(139, 141, 157, .05), 0 0 1px 0 rgba(65, 71, 108, .15);
    background-color: #f4f4f4;
    position: sticky;
    font-size: 0.875rem;
    z-index: 1000;
}

.headerLogo img {
    max-width: 10vw;
}

.headerContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
    padding: 2vh 2vh;
}

.navigationMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;

    & li {
        position: relative;
        cursor: pointer;
    }

    & > li:hover, & a:hover {
        color: #0050EC !important;
    }
}

.actionBtns {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;

    & div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5vw;
    }

    & .separatop {
        display: inline-block;
        width: 1px;
        height: 1.5vw;
        background-color: #333333;
        opacity: .2;
    }

    & .signUp {
        background-color: #385DFF;
        color: #ffffff;
        padding: 2vh 1.5vw;
        border-radius: 20px;
    }
}

.servisesSubmenu, .contactsSubmenu {
    position: absolute;
    width: max-content;
    top: 9vh;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, .05), 0 6px 32px 0 rgba(18, 43, 70, .1);
    border-radius: 4px;
    padding: 1.25rem;
    z-index: 100;
    
    
    &::before {
        content: '';
        border-left: 0.625rem solid transparent;
        border-right: 0.625rem solid transparent;
        border-bottom: 0.938rem solid #ffffff;
        position: absolute;
        top: -0.625rem;
    }

    & ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.25rem;
    }
}

.servisesSubmenuCourses {
    position: absolute;
    width: 200px;
    top: 0;
    left: -220px;
    background-color: #ffffff;
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, .05), 0 6px 32px 0 rgba(18, 43, 70, .1);
    border-radius: 4px;
    padding: 1.25rem;
}


@media (max-width: 768px) {
    .header {
        font-size: 0.5rem;
    }

    .servisesSubmenu, .contactsSubmenu, .servisesSubmenuCourses {
        padding: 0.875rem;
        max-width: 20vw;
        & ul {
            gap: 0.875rem;
        }
    }
    .servisesSubmenuCourses {
        left: -21.5vw;
    }
    .signUp {
        padding: 1vh 0.75vw;
    }
}
@media (max-width: 481) {
    .header {
        font-size: 0.4rem;
    }
}
