.relatedCourses {
    margin-top: 140px;
    margin-bottom: 100px;

    & .relatedCoursesContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 12px;
        background: #FFF;
        box-shadow: 0px 4px 10px 0px rgba(226, 226, 226, 0.25);
        padding: 60px 32px;

        & h2 {
            color: #2B2B2B;
            margin: 12px 0 32px;
        }

        & .relatedCoursesList {
            display: flex;
            flex-direction: column;
            gap: 8px;
            width: 100%;
            margin-bottom: 32px;

            & li {
                border-radius: 12px;
                border: 1px solid #F4F4F4;
                background: #FFF;
                box-shadow: 0px 4px 10px 0px rgba(226, 226, 226, 0.25);
                padding: 5%;
                display: flex;
                gap: 24px;

                & img {
                    max-width: 30%;
                    border-radius: 12px;
                }

                & h3 {
                    color: #010B1F;
                    margin: 0;
                }
                & span {
                    display: block;
                    color: #818181;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                    margin-top: 4px;
                    margin-bottom: 20px;
                }

                & p {
                    color: #8CAF79;
                    font-size: 20px;
                }

                & button {
                    align-self: flex-end;
                    margin-left: auto;
                }
            }
        }

        & .helpDesk {
            border-radius: 12px;
            background: #95ACD3;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            & .helpDeskText {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 15% 7%;

                & h2 {
                    color: #FFF;
                    margin: 0 0 16px;
                }

                & p {
                    color: #F9F9F9;
                    margin-bottom: 32px;
                }
            }

            & img {
                width: 100%;
                height: 100%;
                border-radius: 0 12px 12px 0;
            }
        }
    }
}


@media (max-width: 768px) {
    .relatedCourses {
        & .relatedCoursesContainer {
            & .relatedCoursesList {
                & li {
                    & h3 {
                        line-height: 130%;
                    }
                    & span {
                        font-size: 12px;
                    }
                    & p {
                        font-size: 16px;
                    }
                }
            }
            & .helpDesk {
                grid-template-columns: 1fr 2fr;
            }           
        }       
    }   
}
@media (max-width: 481px) {
    .relatedCourses {
        & .relatedCoursesContainer {
            & .relatedCoursesList {
                & li {
                    & p {
                        font-size: 14px;
                    }
                }
            }
            & .helpDesk {
                display: flex;
                flex-direction: column;
                & .helpDeskText {
                    & h2, & p {
                        text-align: center;
                    }
                    & button {
                        margin: 0 auto;
                    }
                }
                & img {
                    border-radius: 0 0 12px 12px;
                }
            }           
        }       
    }   
}