.courseExpectations {
  margin-top: 80px;

  & h2 {
    color: #2b2b2b;
    font-size: 38px;
    font-weight: 600;
    letter-spacing: -1.52px;
    margin: 14px 0 32px 0;
  }

  & .expectationsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
    grid-template-areas:
      "firstimg first second"
      "third fourth secondimg";

    & .expectationsItem {
      border-radius: 12px;
      border: 1px solid #e7e7e7;
      background: #fdfdfd;
      box-shadow: 0px 4px 10px 0px rgba(226, 226, 226, 0.25);
      padding: 24px;
      display: flex;
      flex-direction: column;

      & h3 {
        color: #010b1f;
        font-size: 20px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: -0.6px;
        margin: 24px 0 8px 0;
      }

      & p {
        color: #959595;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.48px;
      }

      &:nth-child(1) {
        grid-area: first;
      }

      &:nth-child(2) {
        grid-area: second;
      }

      &:nth-child(3) {
        grid-area: third;
      }

      &:nth-child(4) {
        grid-area: fourth;
      }
    }

    & > img {
      object-fit: cover;
      border-radius: 12px;
      
      &:nth-child(1) {
        grid-area: firstimg;
      }
      &:nth-child(2) {
        grid-area: secondimg;
      }
    }
  }
}
