.testimonials {
    margin-top: 100px;

    & .testimonialsContainer {
        border-radius: 12px;
        background: #FFF;
        box-shadow: 0px 4px 10px 0px rgba(226, 226, 226, 0.25);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 60px 32px;
    }

    & h2 {
        color: #2B2B2B;
        margin: 14px 0 32px 0;
    }

    & .testimonialsContent {
        display: grid;
        grid-template-columns: 4fr 1fr;
        gap: 24px;
        position: relative;

        & .comment {
            position: relative;
            padding: 5% 3% 10%;
            border-radius: 12px;
            border: 1px solid #F4F4F4;
            background: #FFF;
            box-shadow: 0px 4px 10px 0px rgba(226, 226, 226, 0.25);

            & .sudent {
                display: flex;
                align-items: center;
                gap: 12px;
                margin-bottom: 32px;
                
                & img {
                    width: 10%;
                    border-radius: 50%;
                }

                & h3 {
                    color: #010B1F;
                    margin: 0;
                }
                & span {
                    color: #959595;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 150%;
                    letter-spacing: -0.48px;
                }
            }

            & .commentContent {
                position: relative;

                & p {
                    color: #959595;
                    margin-top: 18px;
                }
            }

            & .buttons {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 12px;
                position: absolute;
                bottom: 10%;
                right: 5%;
    
                & button {
                    border-radius: 50px;
                    background: #FFFfff;
                    box-shadow: 0px 4px 4px 0px rgba(151, 151, 151, 0.25);
                    padding: 14px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }


        & .advantages {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;

            & .advantagesItem {
                border-radius: 12px;
                background: #95ACD3;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: #FFF;
                padding: 23px 0;

                & h3 {
                    color: #FFFfff;
                    font-size: 60px;
                    font-weight: 600;
                    line-height: 120%;
                    letter-spacing: -2.4px;
                    margin: 0;
                }
                & span {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 32px;
                    letter-spacing: -0.48px;
                }
            }
        }
    }
}


@media (max-width: 768px) {
    .testimonials {
        & .testimonialsContent {
            & .comment {
                & .sudent {
                    & span {
                        font-size: 12px;
                    }
                }
                & .buttons {
                    bottom: 5%;
                    transform: scale(0.7);
                }
            }
            & .advantages {
                & .advantagesItem {
                    & h3 {
                        font-size: 45px;
                    }
                    & span {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
@media (max-width: 481px) {
    .testimonials {
        & .testimonialsContent {
            & .comment {
                & .sudent {
                    & span {
                        font-size: 8px;
                    }
                }
                & .buttons {
                    bottom: 3%;
                    right: 0;
                    transform: scale(0.5);
                }
            }
            & .advantages {
                & .advantagesItem {
                    & span {
                        font-size: 10px;
                        line-height: normal;
                        letter-spacing: normal;
                    }
                }
            }
        }
    }
}