* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: Inter;
    background: #EAEFF4;;
}

ul, ol, li {
    list-style-type: none;
}

a, a:active {
    text-decoration: none;
    color: #333333;
}

button {
    color: #333333;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.btn {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.32px;
    width: max-content;
}

.main-btn {
    color: #ffffff;
    background-color: #566F8D;
}

.secondary-btn {
    color: #2b2b2b;
    background-color: #ffffff;
    border: 1px solid #DEDEDE;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}