.projectShowcase {
    margin-top: 100px;

    & .projectShowcaseBg {
        border-radius: 12px;
        border: 1px solid #E7E7E7;
        background: #FDFDFD;
        box-shadow: 0px 4px 10px 0px rgba(226, 226, 226, 0.25);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 60px 30px;


        & h2 {
            color: #2B2B2B;
            text-align: center;
            font-size: 38px;
            font-weight: 600;
            line-height: 110%;
            letter-spacing: -1.52px;
            margin: 12px 0 30px 0;
        }

        & .studentWork {
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap: 20px;

            & .imgContainer {
                background-image: url('/img/student-work-bg.png');
                background-size: cover;
                background-repeat: no-repeat;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                border-radius: 12px;
    
                & img {
                    max-width: 80%;
                }
            }

            & .studentWorkDescription {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;
            }
        }

    }
}


@media (max-width: 768px) {
    .projectShowcase {
        & .projectShowcaseBg {
            & .studentWork {
                align-items: center;
                justify-content: center;
                & .imgContainer {
                    height: 60%;
                }
            }
        }
    }
}
@media (max-width: 481px) {
    .projectShowcase {
        & .projectShowcaseBg {
            & .studentWork {
                & .imgContainer {
                    align-items: center;
                    & img {
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}